.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 120s linear;
    height: 8vmin;
    margin: 2vmin 2vmin 2vmin 2vmin;
}

.App-header {
    background-color: var(--squidInk);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
