.App {
    text-align: center;
}

.App-header {
    background-color: var(--squidInk);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}
