.root {
    width :100%;
}

.avater-col {
    flex-basis :100px;
}

.main-col {
    flex-basis :80%;
    text-align :left;
}

.right-col {
    flex-basis :10%;
}

.secondary-heading {
    font-size : 1rem;
}

.third-heading {
    font-size : 1rem;
    padding :0.1rem;
    color :rgba(0,0,0,0.7);
}

.number-header-row {
    position :relative;
    max-width :100%;
    font-size : 1.5rem;
}

.sub-content-row {
    position :absolute;
    max-width :60%;
    font-size : 0.7rem;
}

.sub-content {
    color:rgba(0,0,0,0.7);
    white-space :nowrap;
    overflow :hidden;
    text-overflow :ellipsis;
    font-style :italic;
}

.panel-detail {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.transcript {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.audio {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.caller-leg {
    margin-left: 10%;
    text-align: center;
    width: 40%;
}

.agent-leg {
    margin-right: 10%;
    text-align: center;
    width: 40%;
}

.merged-audio {
    margin-left: 20%;
    text-align: center;
    width: 60%;
}
